@use 'swiper/scss';
@use 'swiper/scss/navigation';
@use 'swiper/scss/pagination';
@use 'swiper/scss/grid';

.popular-goods {
    @extend .swiper;
    overflow: visible;

    padding-inline: 64px;
    // display: flex;
    // gap: 10px;
    // justify-content: space-around;
    @media (max-width: 1200px) {
        padding-inline: 25px;
    }

    &__wrapper {
        @extend .swiper-wrapper;
    }

    &__slide {
        @extend .swiper-slide;
    }

    &__card {
        // min-width: 30%;
        // @media (max-width: 768px) {
        //     &:last-child {
        //         display: none;
        //     }
        // }
    }
}

.popular-goods__pagination {
    @extend .swiper-pagination;
    z-index: 100;
    bottom: 7px !important;
    left: 0 !important;
    right: 0 !important;
    justify-content: center;
    display: flex;
    gap: 5px;
}
.popular-goods__pagination-bullet {
    @extend .swiper-pagination-bullet;
    background-color: var(--secondaryColor);
    opacity: 0.5;
}
.popular-goods__pagination-bullet-active {
    @extend .swiper-pagination-bullet-active;
    opacity: 1;
}

.popular-goods__button-prev {
    @extend .swiper-button-prev;
    left: 0;
}
.popular-goods__button-next {
    @extend .swiper-button-next;
    right: 0;
}

.popular-goods__button-prev,
.popular-goods__button-next {
    transition: 0.5s;
    color: var(--primaryColor);
}

.popular-goods__button-disabled {
    // @extend .swiper-button-disabled;
    opacity: 0;
}
