%wrapper {
    max-width: var(--adaptiveContentMaxWidth);
    margin: 0 auto;
}

:root {
    --rootFontSize: 1rem;
    --rootFontPixel: var(--rootFontSize) / 16;
    --inlinePadding: 15;
    --adaptiveInlinePadding: calc(var(--rootFontPixel) * var(--inlinePadding));
    --iconSize: 30;
    --adaptiveIconSize: calc(var(--rootFontPixel) * var(--iconSize));

    --contentMaxWidth: 1440;
    --adaptiveContentMaxWidth: calc(var(--rootFontPixel) * var(--contentMaxWidth));

    --font-family: 'Poppins', sans-serif;
    --primaryColor: #ff902b;
    --secondaryColor: #2f2105;
    --accentsColor: #f9d9aa;
    --lightColor: #7e7d7a;
    --secondBgColor: #f6ebda;
}

body {
    font-family: var(--font-family);
    font-size: var(--rootFontSize);
    line-height: 1.5em;
    background-color: #fff;
}

@media (max-width: 1440px) {
    :root {
        --inlinePadding: 12;
    }
}
@media (max-width: 1024px) {
    :root {
        --inlinePadding: 10;
    }
}
@media (max-width: 768px) {
    :root {
        --rootFontSize: 0.8rem;
        --inlinePadding: 8;
    }
}
@media (max-width: 425px) {
    :root {
        --inlinePadding: 5;
    }
}
