:root {
    --rootFontSize: 1rem;

    --inlinePadding: 15px;
    --inlineWrapperPadding: 135px;

    --iconSize: 30px;

    --contentMaxWidth: 1440px;

    --font-family: 'Poppins', sans-serif;
    --primaryColor: #ff902b;
    --secondaryColor: #2f2105;
    --accentsColor: #f9d9aa;
    --lightColor: #7e7d7a;
    --secondBgColor: #f6ebda;

    font-size: var(--rootFontSize);
}

* {
    box-sizing: border-box;
}

%wrapper {
    max-width: var(--contentMaxWidth);
    padding-inline: var(--inlineWrapperPadding);
    margin: 0 auto;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5em;
    background-color: #fff;

    // margin-bottom: 1000px;
    max-width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 1440px) {
    :root {
        --inlineWrapperPadding: 90px;
        --inlinePadding: 12px;
    }
}
@media (max-width: 1024px) {
    :root {
        --iconSize: 26px;

        --inlinePadding: 10px;
        --inlineWrapperPadding: 50px;
    }
}
@media (max-width: 768px) {
    :root {
        --inlinePadding: 8px;
        --inlineWrapperPadding: 20px;
    }
}
@media (max-width: 600px) {
    :root {
        --rootFontSize: 0.8rem;

        --inlineWrapperPadding: 10px;
    }
}

@media (max-width: 425px) {
    :root {
        --inlinePadding: 5px;
        --inlineWrapperPadding: 10px;
    }
}
