// .accent {
//     color: transparent;
//     background: linear-gradient(to right var(--primaryColor), var(--primaryColor));
//     // mask: linear-gradient(to right var(--primaryColor), var(--primaryColor));
//     background-clip: text;
// }

.title {
    --beroreContent: '';
    --maskWidth: '';
    --maskStop: '';
    position: relative;
}
.title::before {
    content: var(--beroreContent);
    position: absolute;
    display: inline;
    left: 0;
    top: 0;
    color: var(--primaryColor);
    mask-image: linear-gradient(to right, var(--primaryColor), var(--primaryColor));
    mask-origin: content-box;
    mask-position: -500px 50%;
    mask-size: var(--maskWidth) 100%;
    mask-repeat: no-repeat;
    // mask-clip: text;
    // background-blend-mode: darken;

    transition: 1.5s;
}

.title.active::before {
    mask-position: 100% 50%;
}
