.image {
    overflow: hidden;
    display: block;
    width: 100%;
    // min-height: 100%;
    object-fit: cover;
    &--position_bottom {
        object-position: center bottom;
    }
    &--position_80 {
        object-position: center 80%;
    }
    &--position_60 {
        object-position: center 60%;
    }
}
