.navigation {
    font-size: 18px;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__item {
        text-shadow: 0 0 4px var(--secondBgColor);

        padding-inline: var(--inlinePadding);
        flex-shrink: 1;
        &--current {
            color: var(--primaryColor);
        }
    }
}

@media (max-width: 600px) {
    .navigation {
        &__list {
            flex-direction: column;
        }
        &__item {
            padding-block: 2px;
        }
    }
}

@media (max-width: 600px) and (min-width: 426px) {
    .navigation {
        &__item {
            &:first-child {
                align-self: start;
            }
            &:last-child {
                align-self: end;
            }
        }
    }
}

@media (max-width: 425px) {
    .navigation {
        &__list {
            align-items: end;
        }
        &__item {
            padding-block: 4px;
            padding-right: calc(var(--inlinePadding) * 8);
        }
    }
}
