.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: var(--lightColor);
    &--balanced {
        text-wrap: balance;
    }
    &--justifyed {
        text-align: justify;
    }

    &--button {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
    &--mode {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-align: center;
        color: var(--primaryColor);
        @media (max-width: 1024px) {
            font-size: 12px;
        }
    }
}
