.title {
    line-height: 1.5em;
    font-weight: 600;
    color: var(--secondaryColor);
    text-wrap: balance;
    &--size_l {
        font-size: 48px;
        letter-spacing: 0.01em;
    }
    &--size_m {
        font-size: 32px;
        letter-spacing: 0.05em;
    }
    &--size_s {
        font-size: 24px;
        letter-spacing: 0.05em;
    }
    &--good {
        font-size: 24px;
        letter-spacing: 0.04em;
        @media (max-width: 1024px) {
            font-size: 20px;
        }
    }

    &--footer {
        margin-bottom: 24px;
    }

    //     &__svg {
    //         width: min-content;
    //         height: fit-content;
    //         & .svg_text {
    //             font-family: inherit;
    //             font-weight: 600;
    //             font-size: 48px;
    //             fill: black;
    //             stroke: var(--bgColor);
    //             stroke-width: 1px;
    //         }
    //     }
}
