.popular-goods {
    --inlinePadding: 64px;

    padding-inline: var(--inlinePadding);
    background-image: url('/__spritemap#sprite-popularGoodsBg-view');
    background-repeat: no-repeat;
    background-position: 50% bottom;
    padding-bottom: 86px;
    display: flex;
    justify-content: space-between;
}
