.popular-goods {
    overflow: visible;
    @extend .swiper;

    padding-inline: 64px;
    // display: flex;
    // gap: 10px;
    justify-content: space-around;
    @media (max-width: 1200px) {
        padding-inline: 25px;
    }

    &__wrapper {
        @extend .swiper-wrapper;
    }

    &__slide {
        @extend .swiper-slide;
    }

    &__card {
        // min-width: 30%;
        // @media (max-width: 768px) {
        //     &:last-child {
        //         display: none;
        //     }
        // }
    }
}

.popular-goods-pagination {
    // @extend .swiper-pagination;
    z-index: 100;
    bottom: 3px !important;
}
.popular-goods-pagination-bullet {
    // @extend .swiper-pagination-bullet;
    background: var(--secondaryColor);
    opacity: 0.5;
}
.popular-goods-pagination-bullet-active {
    // @extend .swiper-pagination-bullet-active;
    opacity: 1;
}

.popular-goods-button-prev,
.popular-goods-button-next {
    transition: 0.5s;
    color: var(--primaryColor);
}
.popular-goods-button-prev {
    // @extend .swiper-button-prev;
    left: 0;
}
.popular-goods-button-next {
    // @extend .swiper-button-next;
    right: 0;
}

.popular-goods-button-disabled {
    // @extend .swiper-button-disabled;
    opacity: 0;
}
