.icon {
    width: var(--iconSize);
    height: var(--iconSize);
    &--basket {
        stroke: white;
    }
    &--sotial {
        fill: var(--secondaryColor);
    }
}
.logo {
    width: 100%;
    height: 100%;
}
