.link {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition-duration: 0.3s;
    &--current {
        color: var(--primaryColor);
    }

    &::before {
        content: '';
        position: absolute;
        inset: -5px -10px;
        border-radius: inherit;
        z-index: 0;
    }
    &:active {
        filter: drop-shadow(0 0 10px var(--lightColor));
    }
    @media screen and (any-hover: hover) {
        &:hover {
            filter: drop-shadow(0 0 10px var(--lightColor));
        }
    }
}
