.card {
    margin-inline: auto;
    max-width: 355px;
    max-height: 385px;
    &--popular {
        border-radius: 16px;
        border: 6px solid transparent;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
        background-clip: border-box;
        background-origin: border-box;
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: #fff;
        padding-top: 22px;
        padding-inline: 18px;
        padding-bottom: 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
        @media (max-width: 1440px) {
            padding-top: 20px;
            padding-inline: 16px;
            padding-bottom: 16px;
        }
        @media (max-width: 1024px) {
            padding-top: 12px;
            padding-inline: 10px;
            padding-bottom: 10px;
        }
    }

    &__image_box {
        flex: 0 0 min;
        grid-column: span 2;
        position: relative;
        border-radius: 12px;
        width: 100%;
        overflow: hidden;
    }

    &-image_box {
        aspect-ratio: 1.35;
        &__good_image {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        &__rating {
            position: absolute;
            top: 3%;
            left: 3%;
        }
    }

    &__description {
        padding-inline: 14px;
        flex-shrink: 0;
        flex-grow: 1;

        @media (max-width: 1280px) {
            padding-inline: 5px;
        }
        @media (max-width: 1024px) {
            padding-inline: 0;
        }
    }

    &-description {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-auto-rows: min-content;
        align-content: space-between;
        align-items: center;
        gap: 5px;

        &__cost {
            align-self: start;
        }
        &__mods {
        }
        &-mods {
            display: flex;
            gap: 5%;
            &__item {
                display: block;
                flex-shrink: 1;
                border: 2px solid var(--primaryColor);
                border-radius: 8px;
                padding-inline: 17px;
                padding-block: 4px;
                @media (max-width: 1024px) {
                    padding-inline: 14px;
                    padding-block: 2px;
                }
            }
        }
    }
}
