.promo {
    --gap: calc(var(--inlinePadding) * 2);
    --paddingTop: 160px;

    background-color: var(--secondBgColor);
    position: relative;

    &__wrapper {
        &--top {
            @extend %wrapper;
            padding-top: var(--paddingTop);
            background-image: url('/src/styles/content/promo/bg_right.png');
            background-repeat: no-repeat;
            background-position: right 4px top;
            display: flex;
            align-content: center;
            justify-content: space-between;

            @media (max-width: 1024px) {
                --paddingTop: 150px;
            }
            @media (max-width: 425px) {
                --paddingTop: 100px;
            }
        }
        &--bottom {
            position: relative;
            padding-bottom: 400px;
            margin-bottom: 300px;
            width: 100%;
            // display: flow-root;
            @media (max-width: 1440px) {
                margin-bottom: 200px;
            }
            @media (max-width: 1024px) {
                margin-bottom: 150px;
            }
        }
    }

    &__intro {
        z-index: 1;
        flex-shrink: 0;
        max-width: 490px;
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
    &-intro {
        display: grid;
        gap: 24px;
        align-content: center;
        &__title {
            mix-blend-mode: luminosity;
            text-shadow: 0 0 4px var(--secondBgColor);
        }
        &__order {
            margin-top: 8px;
        }
        &-order {
            display: flex;
            align-items: center;
            gap: 26px;

            @media (max-width: 425px) {
                gap: 8px;
            }

            &__button {
                width: 170px;
                height: 46px;
                box-shadow: 0 0 4px var(--secondBgColor);
            }
            &__link {
                color: var(--primaryColor);
                text-decoration: none;
                padding: 10px 24px;
                text-shadow: 0 0 4px var(--secondBgColor);
            }
        }
    }

    &__bestseller {
        flex-shrink: 1;

        @media (max-width: 1024px) {
            display: none;
        }
    }
    &-bestseller {
        &__item {
            width: 100%;
            max-width: 570px;
            object-fit: contain;
        }
    }

    &__popular {
        position: absolute;
        top: -24px;
        right: 0;
        left: 0;
        overflow: hidden visible;

        padding-block: 84px;
        padding-inline: 86px;
        margin-inline: auto;
        max-width: var(--contentMaxWidth);

        @media (max-width: 1440px) {
            margin-inline: 10px;
            padding-block: 30px;
            padding-inline: 40px;
        }
        @media (max-width: 1024px) {
            margin-inline: 5px;
            padding-block: 30px;
            padding-inline: 20px;
        }
    }

    &-popular {
        background-image: url('/src/styles/content/promo/bg_left.png');
        // background-image: url('/src/styles/content/promo/bg_left.png'), url('/__spritemap#sprite-popularGoodsBg-view');
        background-repeat: no-repeat;
        // background-size: auto auto, 10% 10%;
        background-position: left 4px top;
        // background-position: left 4px top, 50% bottom;

        display: flow-root;
        &__title {
            padding-left: 50px;
            margin-block: 24px;
            text-shadow: 0 0 4px var(--secondBgColor);

            @media (max-width: 1024px) {
                padding-inline: 20px;
                text-align: center;
            }
        }

        &__goods {
            background-image: url('/__spritemap#sprite-popularGoodsBg-view');
            background-position: 50% bottom;
            background-repeat: no-repeat;
            padding-top: 12px;
            padding-bottom: 86px;

            @media (max-width: 1440px) {
                // padding-inline: 40px;
                padding-bottom: 50px;
            }
            @media (max-width: 1024px) {
                // padding-inline: 20px;
                padding-bottom: 40px;
            }
        }
    }
}
