@use 'swiper/scss';
@use 'swiper/scss/navigation';
@use 'swiper/scss/pagination';
@use 'swiper/scss/grid';

.delivery_info {
    &__wrapper {
        @extend %wrapper;
        margin-block: 24px;
        display: flow-root;
    }
    &__title {
        margin-block: 15px;
    }
    &__procedure {
        margin-block: 15px;
    }
    &-procedure {
        @extend .swiper;

        &__wrapper {
            @extend .swiper-wrapper;
        }
        &__slide {
            @extend .swiper-slide;
        }
    }
}

.procedure-slide {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &__image_box {
        max-width: 160px;
    }
    &__title {
    }

    &__text {
    }
}

.image_box__set {
    position: relative;

    & > *:last-child {
        --size: 55%;
        position: absolute;
        width: var(--size);
        height: var(--size);
        object-fit: contain;
        right: -15%;
        bottom: -15%;
    }
}
