.footer {
    --logoWidth: 180px;
    --logoHeight: calc(var(--logoWidth) / 5);

    background-color: var(--secondBgColor);

    &__wrapper {
        @extend %wrapper;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: dense row;
        gap: 24px;
        padding-block: 88px;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
            padding-block: 60px;
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            padding-block: 40px;
        }
    }
    &__about {
        @media (max-width: 1024px) {
            grid-column: span 3;
        }
        @media (max-width: 768px) {
            grid-column: span 2;
        }
    }
    &-about {
        &__logo {
            display: block;
            height: var(--logoHeight);
            width: var(--logoWidth);
            margin-bottom: 24px;
        }
        &__text {
        }
    }

    &__contacts {
    }
    &-contacts {
        &__title {
        }
        &__address {
        }
    }
    &__follow {
        @media (max-width: 768px) {
            grid-column: span 2;
            grid-row: 3;
        }
    }
    &-follow {
        &__title {
        }
        &__links {
            display: flex;
            column-gap: 16px;
        }
        &__logo {
            flex-shrink: 0;
            display: flex;
        }
    }

    &__info {
    }
    &-info {
        &__title {
        }
        &__navigation {
        }
        &-navigation {
            &__list {
            }
            &__item {
            }
        }
    }
}
