.footer {
    --logoWidth: 180px;
    --logoHeight: calc(var(--logoWidth) / 5);

    background-color: var(--secondBgColor);

    &__wrapper {
        @extend %wrapper;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        padding-block: 88px;
    }
    &__about {
    }
    &-about {
        &__logo {
            display: block;
            height: var(--logoHeight);
            width: var(--logoWidth);
            margin-bottom: 24px;
        }
        &__text {
        }
    }

    &__contacts {
    }
    &-contacts {
        &__title {
        }
        &__address {
        }
    }
    &__follow {
    }
    &-follow {
        &__title {
        }
        &__links {
            display: flex;
        }
        &__logo {
            flex-shrink: 0;
            display: flex;
        }
    }

    &__info {
    }
    &-info {
        &__title {
        }
        &__navigation {
        }
        &-navigation {
            &__list {
            }
            &__item {
            }
        }
    }
}
