.header {
    --headerInlinePadding: 135;
    --headerBlockPadding: 40;
    --headerLogoWidth: 150;
    --headerLogoHeight: var(--headerLogoWidth) / 5;
    --adaptiveGap: calc(var(--adaptiveInlinePadding) * 2);
    --headerBgColor: #f9d9aa9c;

    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-block: calc(var(--rootFontPixel) * var(--headerBlockPadding));

    &.scrolled {
        padding-block: calc(var(--rootFontPixel) * 10);
        background-color: var(--headerBgColor);
    }

    &__wrapper {
        @extend %wrapper;
        padding-inline: calc(var(--rootFontPixel) * var(--headerInlinePadding));
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        & > * {
            margin-inline: var(--adaptiveInlinePadding);
        }
    }
    &__logo {
        justify-self: start;
        width: calc(var(--rootFontPixel) * var(--headerLogoWidth));
        height: calc(var(--rootFontPixel) * var(--headerLogoHeight));
    }
    &__navigation {
        width: 100%;
        min-width: fit-content;
        max-width: 60%;
        justify-self: center;
    }
    &__burger {
        display: none;
        width: var(--adaptiveIconSize);
        justify-self: end;
    }
    &__shops {
        justify-self: end;
        line-height: 0;
    }
}

@media (max-width: 1440px) {
    .header {
        --headerInlinePadding: 105;
        --headerBlockPadding: 30;
    }
}

@media (max-width: 1024px) {
    .header {
        --headerInlinePadding: 50;
        --headerBlockPadding: 20;
    }
}

@media (max-width: 768px) {
    .header {
        --headerInlinePadding: 20;
        --headerBlockPadding: 15;
    }
}

@media (max-width: 600px) and (min-width: 426px) {
    .header {
        --headerInlinePadding: 10;
        --headerLogoWidth: 240;

        &__shops {
            align-self: flex-start;
        }
    }
}

@media (max-width: 425px) {
    .header {
        --headerLogoWidth: 200;
        --headerInlinePadding: 5;
        --headerInlinePadding: 5;
        background-color: var(--headerBgColor);
        transition: 0.5s;

        &__wrapper {
            gap: var(--adaptiveGap);
        }

        &__navigation {
            background-color: var(--headerBgColor);
            position: absolute;
            width: 100dvw;
            max-width: unset;
            top: 100%;
            transform-origin: center top;
            transform: scaleY(0);
            transition: 0.5s;

            &.active {
                transform: scaleY(1);
            }
        }

        &__burger {
            display: block;
        }

        // &__shops {
        //     justify-self: center;
        //     line-height: 0;
        // }
    }
}
