.header {
    --BgColor: #f9d9aa9c;
    --blockPadding: 40;
    --adaptiveBlockPadding: calc(var(--rootFontPixel) * var(--blockPadding));
    --logoWidth: 150;
    --adaptiveLogoWidth: calc(var(--rootFontPixel) * var(--logoWidth));
    --logoHeight: var(--logoWidth) / 5;
    --adaptiveLogoHeight: calc(var(--rootFontPixel) * var(--logoHeight));
    --adaptiveGap: calc(var(--adaptiveInlineWrapperPadding) * 2);

    display: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-block: var(--adaptiveBlockPadding);
    transition: 0.5s;

    &.scrolled {
        padding-block: var(--adaptiveBlockPadding);
        background-color: var(--BgColor);
    }

    &__wrapper {
        @extend %wrapper;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        & > * {
            margin-inline: var(--adaptiveInlinePadding);
        }
    }
    &__logo {
        justify-self: start;
        width: var(--adaptiveLogoWidth);
        height: var(--adaptiveLogoHeight);
    }
    &__navigation {
        width: 100%;
        min-width: fit-content;
        max-width: 60%;
        justify-self: center;
    }
    &__burger {
        display: none;
        width: var(--adaptiveIconSize);
        justify-self: end;
    }
    &__shops {
        justify-self: end;
        line-height: 0;
    }
}

@media (max-width: 1440px) {
    .header {
        --blockPadding: 30;
    }
}

@media (max-width: 1024px) {
    .header {
        --blockPadding: 20;
    }
}

@media (max-width: 768px) {
    .header {
        --blockPadding: 15;
    }
}

@media (max-width: 600px) and (min-width: 426px) {
    .header {
        --logoWidth: 240;

        &__shops {
            align-self: flex-start;
        }
    }
}

@media (max-width: 425px) {
    .header {
        --logoWidth: 200;
        background-color: var(--BgColor);
        transition: 0.5s;

        &__wrapper {
            gap: var(--adaptiveGap);
        }

        &__navigation {
            background-color: var(--BgColor);
            position: absolute;
            width: 100dvw;
            max-width: unset;
            top: 100%;
            transform-origin: center top;
            transform: scaleY(0);
            transition: 0.5s;

            &.active {
                transform: scaleY(1);
            }
        }

        &__burger {
            display: block;
        }
    }
}
