.title {
    position: relative;
    line-height: 1.5em;
    font-weight: 600;
    color: var(--secondaryColor);
    text-wrap: balance;

    &:has(.title__accent) {
        overflow: hidden;
        width: fit-content;
    }

    &__accent {
        display: inline-block;
        position: relative;
        &::before {
            position: absolute;
            overflow: visible;
            transition: 1.5s;
        }
    }

    &--size_l {
        font-size: 48px;
        letter-spacing: 0.01em;

        & .title__accent::before {
            white-space: pre;
            content: var(--beroreContent);
            text-align: inherit;
            width: fit-content;
            right: 0;
            top: 0;
            color: var(--primaryColor);
            mask-image: linear-gradient(to right, var(--primaryColor), var(--primaryColor));
            mask-position: var(--maskStart);
            mask-size: var(--maskWidth) 1lh;
            mask-repeat: no-repeat;
        }

        &.active .title__accent::before {
            mask-position: 100%;
        }
    }
    &--size_m {
        font-size: 32px;
        letter-spacing: 0.05em;

        & .title__accent::before {
            content: '';
            bottom: 0;
            width: var(--beforeWidth);
            background-color: var(--primaryColor);
            height: 0.2em;
            border-radius: 0.2em;

            left: var(--beforeStart);
        }

        &.active .title__accent::before {
            left: 0;
        }
    }
    &--size_s {
        font-size: 24px;
        letter-spacing: 0.05em;
    }
    &--good {
        font-size: 24px;
        letter-spacing: 0.04em;
        @media (max-width: 1024px) {
            font-size: 20px;
        }
    }

    &--footer {
        margin-bottom: 24px;
    }
}
