.navigation {
    font-size: calc(var(--rootFontPixel) * 18);
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__item {
        padding-inline: var(--adaptiveInlinePadding);
        flex-shrink: 1;
        &--current {
            color: var(--primaryColor);
        }
    }
}

@media (max-width: 600px) and (min-width: 426px) {
    .navigation {
        &__list {
            flex-direction: column;
        }
        &__item {
            padding-block: var(--adaptiveInlinePadding);
            &:first-child {
                align-self: start;
            }
            &:last-child {
                align-self: end;
            }
        }
    }
}
